@page
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nós, na True Metal Distro, valorizamos a sua privacidade e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Abaixo, detalhamos como as suas informações são coletadas, usadas e protegidas.</p>

<h2>Coleta de Informações</h2>
<p>Coletamos informações pessoais apenas quando fornecidas voluntariamente por você. Isso pode incluir nome, endereço de e-mail, informações de pagamento e outros detalhes relevantes para processar pedidos e fornecer um melhor serviço.</p>

<h2>Uso de Informações</h2>
<p>As informações fornecidas são usadas exclusivamente para processar pedidos, personalizar sua experiência de compra e melhorar nossos serviços. Não compartilhamos suas informações com terceiros, a menos que seja necessário para a conclusão do serviço solicitado.</p>

<h2>Segurança</h2>
<p>Implementamos medidas de segurança rigorosas para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição não autorizada. Utilizamos métodos seguros de transmissão de dados durante a compra para garantir a segurança das informações sensíveis.</p>

<p>Se tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco. Agradecemos a confiança depositada em nós para fornecer uma experiência de compra segura e satisfatória na True metal distro.</p>
