@page
@{
}

<h1>Bem-vindo à True Metal Distro</h1>
<img src=~/imagens/vargrav-reign-in-supreme-darkness-1.jpg />
<p>Nas trevas insondáveis da nossa distro de black metal, as sombras dançam ao som de blasfêmias e os acordes dissonantes ecoam através do abismo. Somos os guardiões das sonoridades obscuras, os arautos da escuridão, e esta é a nossa fortaleza macabra.</p>

<p>Nascida das profundezas do underground, nossa distro é um santuário para aqueles que buscam a pureza do black metal, uma jornada pelos reinos desconhecidos do extremo. Aqui, oferecemos uma seleção cuidadosamente curada de álbuns, merchandising e arte, mergulhados na essência primordial do black metal.</p>

<p>Cada produto que carregamos é uma manifestação da aura sombria que permeia nosso ser. Nossas raízes mergulham nas trevas da cena black metal, e é com dedicação implacável que apresentamos aos verdadeiros fiéis essa coleção sinistra. De vinis raros a camisetas impregnadas de obscuridade, nosso catálogo é um testemunho da paixão que compartilhamos pela expressão mais pura do black metal.</p>

<p>Junte-se a nós nesta jornada através da névoa noturna, onde os limites entre o profano e o sublime se desvanecem. Nossa distro não é apenas um ponto de venda, é um portal para os abismos da mente e da música, uma celebração da estética sombria que define o verdadeiro black metal.</p>

<p>Adentre este reino sombrio conosco, onde as almas inquietas encontram ressonância e os corações batem no compasso da escuridão. Somos mais do que uma distro, somos os guardiões do legado black metal, e convidamos você a se perder nas sombras conosco.</p>

